@CHARSET "UTF-8";

 		#report { border-collapse:collapse; }
        #report th { background: url(header_bkg.png) repeat-x scroll center left; padding:7px 15px; text-align:left;}
        #report td { background: none repeat-x scroll center left; padding:7px 15px; }
        #report tr.odd td { background: url(row_bkg.png) repeat-x scroll center left; cursor:pointer; }
        #report div.arrow { background:transparent url(arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
        #report div.up { background-position:0px 0px;}