@CHARSET "UTF-8";
#s2 .item{
        margin: 3px;
    }
    #s2 .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    #s3 .item{
        margin: 3px;
    }
    #s3 .item img{
        display: block;
        width: 100%;
        height: auto;
    }
  
   #list tr>td>img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
	}

	a:link {
    color: gray;
}
	a:hover {
    color: green;
	}
     
    #owl-demo1 .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    .t{
    	width : 100%;
    	margin : auto;
    	padding : 10px;
    	
    }
    #list tr>td {
    	 margin : 10px;
    }

div.img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    margin-bottom : 30px;
    border: 1px #ccc;
    float: left;
    width: 223px;
}

	div.img:hover {
    
    opacity: 0.5;
    filter: alpha(opacity=50);
}

div.img img {
    width: 100%;
    height: 230px;
}

div.desc {
    padding: 17px;
    text-align: center;
}